<div class="modal fade" id="create-account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
 	<div class="modal-dialog" role="document">
	    <div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        	<h4 class="modal-title" id="myModalLabel">Criar conta</h4>
	      	</div>
	      	<div class="modal-body">
	      		<div class="form-horizontal">
				 	<%= link_to "Sou ONG", new_ngo_path, :class=>"link-style btn btn-primary buttonngo" %>
					<%= link_to "Sou Voluntária(o)", new_volunteer_path, :class=>"link-style btn btn-primary buttonvol" %>
				</div>
	      	</div>
	      	<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
		  	</div>
		</div>
  	</div>
</div>