<div class="modal fade" id="token-resend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Reenviar token</h4>
			</div>
				<%= form_tag(@user, method: :resend_token) do %>
			<div class="modal-body">
				<span> Email:  <%= text_field_tag :email %></span>
			</div>
			<div class="modal-footer">
				<%= submit_tag "Reenviar", :class => "btn btn-primary" %>
				<%end%>
			</div>
		</div>
	</div>
</div>