
<div class="panel-body detailopp">
		<div class="modal fade bs-example-modal-lg" id="user-terms-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	      <div class="modal-dialog modal-lg" role="document" style="overflow-y: scroll; max-height:85%;">
			    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Política de Privacidade </h4>
			      </div>
			      <div class="modal-body">
			        <%= simple_format "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum sit amet eros id placerat. Mauris vitae faucibus nisi. Donec id orci vel metus porta rhoncus. Aliquam elit libero, volutpat vel nibh ac, elementum consequat tortor. Nulla consequat, turpis ut semper mattis, nisl elit aliquet ex, pharetra viverra lectus ligula volutpat odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus dapibus dictum vulputate. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus non mauris velit. Aliquam vulputate sed arcu a pretium. Nam sit amet ultricies dolor. Duis gravida fermentum dapibus. Morbi quis lorem urna. Sed maximus orci id sagittis dignissim. Praesent elementum elementum ante, et dignissim lectus consequat commodo. Etiam luctus tellus ut tempus varius.

Donec rhoncus tortor ac orci interdum convallis. Donec libero turpis, congue non dignissim eu, luctus congue diam. Suspendisse vulputate volutpat pellentesque. Morbi nec neque odio. Maecenas in condimentum augue, volutpat efficitur neque. Integer est velit, pulvinar eleifend libero quis, tempus sodales arcu. Etiam interdum turpis lectus, venenatis tincidunt nulla fermentum at. Mauris at facilisis libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam velit risus, viverra a faucibus vitae, rhoncus sit amet ante. Sed porta justo diam, ac maximus nulla lobortis vitae. Mauris ipsum nunc, efficitur vel convallis id, vulputate eget neque. Sed sit amet felis in nunc fringilla fringilla. Donec neque tellus, euismod sit amet convallis pharetra, maximus vitae odio. Donec ac libero eget lectus vulputate luctus.

Morbi et sem a eros vulputate rutrum. Vestibulum in enim in enim tempor pharetra. Suspendisse gravida fermentum orci, ac tempus justo luctus facilisis. Integer aliquet orci non lacus gravida ornare. Cras vel viverra est. Vivamus pretium eros justo, a consequat tortor venenatis porttitor. Quisque nec orci nec orci finibus condimentum.
	
	uspendisse efficitur, eros non luctus mattis, purus ex sollicitudin arcu, vitae lacinia nulla libero vitae lacus. Curabitur in ipsum a turpis laoreet tincidunt vel eget elit. Etiam volutpat tellus non risus gravida, in tristique augue luctus. Nullam efficitur ex eu commodo mattis. Aenean varius hendrerit elit ut fringilla. Cras quis metus vulputate felis ultricies sollicitudin. Etiam in metus efficitur, pharetra magna ac, blandit purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis scelerisque, nunc id varius interdum, ex urna laoreet diam, vel faucibus urna magna at mi. Vivamus semper, nisi eget semper fringilla, nisi sem scelerisque mi, sit amet aliquet elit lorem eget tellus. Proin at nisi urna. Nunc maximus imperdiet mi, id placerat mauris blandit non. Praesent congue tristique tortor id mollis. Suspendisse eget ultrices nunc.

Donec a aliquet orci, vitae euismod augue. Nullam id tellus sodales, gravida lorem eu, lacinia ex. Maecenas vitae pharetra diam, consectetur condimentum turpis. Donec eleifend quis nulla nec commodo. Ut sodales risus vel erat ornare sollicitudin. Cras sagittis vitae purus et ullamcorper. Etiam dapibus varius mi eu lacinia. Proin et dolor id purus pretium pellentesque. In finibus euismod condimentum. Praesent ut tortor vitae lectus feugiat auctor eu in nunc. Nunc vehicula elit sed aliquet fermentum. Integer viverra lectus ut lectus lacinia euismod.

Curabitur in magna sit amet turpis congue vulputate eu id urna. Phasellus vestibulum at nibh id finibus. Cras ligula velit, semper vel neque in, efficitur viverra est. Cras dapibus dolor ultricies lacus mollis tincidunt. Vivamus mattis metus ac orci aliquam tristique. Mauris aliquam porttitor leo et vestibulum. Vestibulum dapibus lacus quis lorem dapibus luctus. Ut eu euismod purus. Cras fringilla, ante quis varius sodales, nunc magna bibendum neque, quis tempus tellus augue nec lectus.

Vivamus laoreet placerat magna non tristique. Quisque sed nunc id est commodo tristique. Donec non dui accumsan, tempus lacus ut, vulputate ex. Aliquam a dignissim tellus. Aenean sed purus nec dolor gravida mollis in a nisl. Nulla sit amet ante pellentesque, luctus nisi eget, lobortis augue. Ut vitae lobortis dolor, ut faucibus nisl.

Fusce sed dapibus velit, a bibendum ligula. Donec ut maximus ex. Sed ac lectus posuere enim placerat fringilla in id neque. In in purus enim. Cras sodales odio felis, a volutpat nibh sagittis ac. Duis euismod tempus lacinia. Etiam consectetur lectus a eros commodo facilisis. Integer posuere erat et bibendum tempor.

Mauris augue sem, consequat euismod feugiat et, sodales et massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut porta ut massa vel egestas. Fusce at quam et urna dapibus tristique et at eros. Duis vitae nibh nisl. Curabitur cursus velit ac felis posuere, in rhoncus ligula imperdiet. Suspendisse in consequat odio. Maecenas tellus lacus, rhoncus auctor fermentum in, cursus ac urna. Suspendisse in condimentum mauris, ut iaculis dolor. Nunc est diam, facilisis non facilisis eu, condimentum nec libero. Aenean sit amet maximus metus, id eleifend purus. Curabitur ut posuere velit.

Donec viverra malesuada nibh, id tempus leo viverra a. Vivamus in lacus ornare, bibendum nulla sit amet, sagittis metus. Quisque sit amet magna pretium, luctus erat a, feugiat eros. Mauris velit magna, vehicula quis risus vel, dignissim blandit libero. Praesent risus felis, ornare eu elementum vel, pulvinar ut neque. Nam id erat dictum, ornare risus ut, iaculis diam. Maecenas sagittis, mi eu elementum scelerisque, dui purus elementum leo, vitae consequat mi nulla nec turpis. Nulla facilisi. Fusce ac lacinia neque. Phasellus in nisl ac libero luctus scelerisque vel non ligula. Maecenas sed ligula euismod, elementum lorem in, volutpat erat. Nunc semper fringilla risus, ac porta turpis cursus ut. 
" %>
			    
		    </div>
		  </div>
		</div>
