<div class="row ">
	<div class="col-lg-12">
		<h3>Filtros</h3>
		<hr>
		<div>
			<h4> Cidade: </h4>
			<% @cities.each do |city| %>
				<input type="checkbox" name="cities" id="<%=city%>" value="<%=city%>" class="cb_city_ngos">
				<label for="<%=city%>"><%=city%></label>
				<br>
				<%end%>
		</div>
	</div>
</div>
