<div class="container"> 
	<div class="row ">
		<div class="col-lg-2">
			<%=link_to "Cadastrar ONGs", new_ngo_path%> 
		</div>
		<div id="listOngs" class="col-lg-10">
			<%= render 'list_ngos' %>
		</div>
		<div id="paginator" class="pull-right">
		</div>
</div>