<div class="container"> 
	<div class="row ">
		<div id="listOngs" class="col-lg-offset-2 col-lg-10">
			<%= render 'list_ngos' %>
		</div>
		<div id="paginator" class="pull-right">
			<%= paginate @ngos_result, :theme => 'twitter-bootstrap-3' %>
		</div>
	</div>
</div>