<div class="col-lg-offset-4 col-lg-4">
	<% if notice != nil %>
	  <div class= "alert alert-success centralize">
	    <p id="notice"><%= notice %></p>
	  </div>
	<%end%>
</div>
<%= render './layouts/search_bar' %>