<div class="col-lg-offset-4 col-lg-4">
	<% if notice != nil %>
	  <div class= "alert alert-success centralize">
	    <p id="notice"><%= notice %></p>
	  </div>
	<%end%>
</div>
<header class="header-margin">
	<div class="header-content col-lg-8 col-lg-offset-2">
		<div class="text-center">
			<div class="text-index">
				<h2>Faça como a guriazinha e seja um voluntário</h2>
				<span>Procure por organizações ou oportunidades de voluntariado perto de você</span>
			</div>
		</div>
		<div class="bg-color-search radius">
			<div class="col-lg-10 col-lg-offset-1">
				<%= render './layouts/search_bar_opportunity.html' %>
			</div>

		</div>
	</div>
</header>
<section id="sessao1">
	<div class="col-lg-8 col-lg-offset-2">
		
	</div>
</section>
<section id="sessao2">
</section>
