<div class="col-lg-offset-4 col-lg-4">
	<% if notice != nil %>
	  <div class= "alert alert-success centralize">
	    <p id="notice"><%= notice %></p>
	  </div>
	<%end%>
</div>
<header class="header-margin">
	<div class="header-content col-lg-8 col-lg-offset-2">
		<div class="text-center">
			<div class="text-index">
				<h2><strong>Faça como a guriazinha e seja um voluntário</strong></h2>
				<span>Procure por organizações ou oportunidades de voluntariado perto de você</span>
			</div>
		</div>
		<div class="bg-color-search radius">
			<div class="col-lg-12">
				<%= render './layouts/search_bar_opportunity.html' %>
			</div>

		</div>
	</div>
</header>
<section id="sessao1">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1 class="section-title">O que é?</h1>
			<h4>O <strong>Ongarium</strong> é uma plataforma online <strong>100% gratuita</strong> para sempre.</h4>
		</div>
	</div>
	<div class="col-lg-8 col-lg-offset-2">
		
	</div>
</section>
<section id="sessao2">
</section>
