<div class="container">
	<div class="panel ">
		<div>
			<h1> Motivo de ter despilhado do interesse:</h1>		
		</div>
		<div class="panel-body detailopp">
			<div class="formsession">
				<div class="row">
					<strong>Descrição: </strong>	
				</div>
			</div>
		</div>
	</div>
</div>
