<div class="container">
	<div class="panel ">
		<div class="formsession">
			<div class="row">
				<h2> Motivo de ter despilhado do interesse:</h2>		
				<%= form_tag "/opportunities/send_email", :id=>"form-volunteer-cancel-interest", :method => :destroy do %>
				<%= text_area_tag "reason" %>
				<%= @interest.opportunity.title %>
				<div>
					<%= submit_tag "Save" %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

