<%if current_user %>
  <%if current_user.volunteer%>
    <div class="modal fade" id="confirm-delete-interest-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Excluir Interesse</h4>
          </div>
          <div class="modal-body">
            <span> Olá <%= current_user.volunteer.name if current_user.volunteer %>, você tem certeza que deseja excluir o seu interesse na oportunidade <%= @opportunity.title %>? </span>
          </div>
          <div class="modal-footer">
            <a href= "/interests/<%=@opportunity.id%>" class="link-style" title="Deletar" data-method="delete">
              <button type="button" class="btn btn-primary" aria-label="Left Align">Excluir Interesse</button>
          </a>
          </div>
        </div>
      </div>
    </div>
  <%end%>
<%end%>
