<%= render './layouts/search_bar' %>
<div class="container"> 
	<div class="row ">
		<div class="col-lg-2">
		<%= render 'filterbar' %>
		</div>
		<div id="listOpportunities" class="col-lg-10">
			<%= render 'list_opportunities' %>
		</div>
		<div id="paginator" class="pull-right">
			<%= paginate @opportunities_result, :theme => 'twitter-bootstrap-3' %>
		</div>
	</div>
</div>

