<form class="form-horizontal">
	<div class="form-group col-lg-12">
	    <label for="name-volunteer" class="col-lg-1  control-label">Nome:</label>
	    <div class="col-lg-6">
	      <input type="text" class="form-control" id="name-volunteer">
	    </div>
  	</div>
  	<div class="form-group col-lg-12">
	    <label for="email-volunteer" class="col-lg-1  control-label">Email:</label>
	    <div class="col-lg-6">
	      <input type="email" class="form-control" id="email-volunteer">
	    </div>
  	</div>
  	<div class="form-group col-lg-12">
	    <label for="phone-volunteer" class="col-lg-1 control-label">Telefone:</label>
	    <div class="col-lg-6">
	      <input type="text" class="form-control" id="phone-volunteer">
	    </div>
  	</div>
  	<div class="form-group col-lg-12">
	    <label for="observation-volunteer" class="col-lg-1  control-label">Observação:</label>
	    <div class="col-lg-6">
	      <textarea class="form-control" rows="3" id="observation-volunteer">
	      </textarea>
	    </div>
  	</div>

  	<div class="form-group col-lg-12">
  	<div class="col-lg-offset-3 col-lg-2">
  	<button type="button" class="btn btn-default btn-lg btn-block">Candidatar-se</button>
 	</div>
 	</div>
</form>