html, body {
   height: 100%;
}

input:focus {
    outline: none;
}

section {
   margin-top: 60px;
   min-height: 100%;
   color: gray;
   
   height: -200px;
}

footer {
   background-color: gray;
   height: 200px;
}

.home {
	min-height: 100%;
}

.btn-search {
	margin-top: 10px;
}

.link-footer a:link {
    color: white;
}
.link-footer a:visited {
    color: white;
}
ul {list-style-type: none;}