html, body {
  height: 100%;
}

input:focus {
  outline: none;
}

section {
  margin-top: 60px;
  min-height: 100%;
  color: gray;
  height: -200px;

}

footer {
   background-color: gray;
   padding-top:20px;
   padding-bottom: 20px;
}

.home {
	min-height: 100%;
}

.btn-search {
	margin-top: 10px;
}

.link-footer a:link {
  color: white;
}

.link-footer a:visited {
  color: white;
}

ul { 
  list-style-type: none; 
  padding-left:0;
}

.centralize {
  text-align: center;
}

.card-cause {
  color: #0488CF;
  font-weight: bold;
}

.aligncenter {
  text-align: center;
}

.inputsize {
  height: 36px !important;
  width: 80%;
}

.alignbutton {
  margin-bottom: 3px !important;
}


