.header-style {
	margin-top: 20px;
	font-size: 15px;
	background-color: rgba(0, 0, 0, 0) !important;
	border-color: rgba(0, 0, 0, 0) !important;
	a, a:focus, a:active{
		color: #FFFFFF !important;
		background-color: rgba(0, 0, 0, 0) !important;
	}
}
.btn-register {
	margin: -1px;
	border: 1px solid white;	
	a:hover{
		background-color: yellow !important;
		border-color: yellow !important;
		color: black !important;
	}
}
.navbar-nav > li > a{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.dropdown-menu {
	background-color: rgba(0, 0, 0, 0) !important;
	border: 1px solid white !important;
}
.register-style li { 
	background-color: rgba(0, 0, 0, 0) !important;
}

.logo {
	margin-right: 20px;
}

.logo-text {
	margin-top: 24px;
	background-color: rgba(0, 0, 0, 0) !important;
}

.logo-text .active {
	background-color: rgba(0, 0, 0, 0) !important;
}

.open {
	background-color: rgba(0, 0, 0, 0) !important;
}