.header-margin{
	min-height: 650px;
	padding-top: 185px;
	background: image-url("background.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.text-index{
	font-weight: bold;
	color: #FFFFFF !important;
	height: 120px;
}
#sessao1{
	min-height: 400px;
	background-color: #fff;	
	margin-top: 20px;
}
#sessao1 h4{
	font-weight: 300;
	color: #444444;
	margin-top: 20px;
}
#sessao2{
	min-height: 400px;
	background-color: #53B778;
	margin-top: 20px;
}
.section-title{
	color: #333333;
	font-weight: 600;
}
.border_section_1{
	border-bottom: solid 2px gray;
	padding-top: 15px;
}