.header-margin{
	min-height: 650px;
	padding-top: 185px;
	background: image-url("background.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.text-index{
	font-weight: bold;
	color: #FFFFFF !important;
	height: 120px;
}
#section1 h4, #section3 h4{
	font-weight: 300;
	color: #444444;
	margin-top: 20px;
}
#section1{
	min-height: 400px;
	background-color: #fff;
	padding-top: 20px;
	border-top: solid 2px grey;
	margin-bottom: 80px;
}
.section-title{
	color: #333333;
	font-weight: 600;
}
.border_section_1{
	margin-bottom: 60px;
	width: 100px;
}
.text-section1{
	color: black;
	margin-bottom: 20px;
}

.vol_title {
	font-size: 25px;
	color: #50ADD8;
}

.ong_title {
	font-size: 25px;
	color: #A232D4;
}

.para {
	color: black;
	font-weight: bold;
	padding-top: 60px;
	margin-bottom: -5px;
}

#img_11{
	margin-right: 22px;
}
#img_12{
	margin-left: 8px;
	margin-top: 2px;
}
.list_section1{
	margin-bottom: 45px;
}
.btn-ong{
<<<<<<< HEAD
	border: 1px solid #A232D4 !important;
	color: #A232D4;
	box-shadow: none !important;
}
.btn-volunteer{
	border: 1px solid #50ADD8 !important;
	color: #50ADD8;
	box-shadow: none !important;
=======
	border: 1px solid #6c16c7 !important;
	color: #6c16c7;
	box-shadow: none !important;
}
.btn-ong:hover{
		background-color: #945bb3 !important;
		border-color: #945bb3 !important;
		color: white !important;
}
.btn-volunteer{
	border: 1px solid #3080e8 !important;
	color: #3080e8;
	box-shadow: none !important;
}
.btn-volunteer:hover{
	background-color: #37A3C6 !important;
	border-color: #37A3C6 !important;
	color: white !important;
>>>>>>> #0 <@raphaelbraun, @pedrocasarao> - Ajustando estilos
}
#section2{
	min-height: 100px;
	background-color: #1A1A1A;
	margin-top: 20px;
}
.text_section2{
	color: white;
	font-weight: bold;
	padding-top: 40px;
}
.btn-section2:hover{
		background-color: rgba(255, 239, 40, 1) !important;
		border-color: yellow !important;
		color: black !important;
}
.btn-section2{
	margin-top: 34px;
	border-color: #C9307D !important;
	color: #C9307D !important;
}
.btn-section2:hover{
		background-color: #C9307D !important;
		border-color: #C9307D !important;
		color: white !important;
}
#section3{
	min-height: 400px;
	background-color: #fff;
}

.title_section3{
	color: black;
	font-weight: bold;
}

.text_section3 {
	color: black;
	margin-bottom: 150px;
}

.align_section3 {
	padding-left: 100px !important;
}
