.header-margin{
	min-height: 650px;
	padding-top: 185px;
	background: image-url("background.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.text-index{
	font-weight: bold;
	color: #FFFFFF !important;
	height: 120px;
}
#section1 h4, #section3 h4{
	font-weight: 300;
	color: #444444;
	margin-top: 20px;
}
#section1{
	min-height: 400px;
	background-color: #fff;
	padding-top: 20px;
	border-top: solid 2px grey;
}
.section-title{
	color: #333333;
	font-weight: 600;
}
.border_section_1{
	margin-bottom: 60px;
	width: 100px;
}
.text-section1{
	color: black;
}
#img_11{
	margin-right: 22px;
}
#img_12{
	margin-left: 22px;
	margin-top: 2px;
}
.list_section1{
	margin-top: 45px;
	margin-bottom: 45px;
}
.btn-ong{
	border: 1px solid purple !important;
	color: purple;
	box-shadow: none !important;
	a:hover{
		background-color: purple !important;
		border-color: purple !important;
		color: white !important;
	}
}
.btn-volunteer{
	border: 1px solid blue !important;
	color: blue;
	box-shadow: none !important;
	a:hover{
		background-color: blue !important;
		border-color: blue !important;
		color: white !important;
	}
}
#section2{
	min-height: 100px;
	background-color: #000;
	margin-top: 20px;
}
.text_section2{
	color: white;
	font-weight: bold;
	padding-top: 40px;
}
.btn-section2{
	margin-top: 34px;
	border-color: yellow !important;
	color: yellow !important;
}
#section3{
	min-height: 400px;
	background-color: #fff;
}
