.input-text-error {
	border: 2px solid red !important;
}

.custom-alert-danger {
	padding: 6px !important;
	text-align: center;
	display: none;
}

.min-height-page {
	min-height: 600px;
}

.myinterests-title {
	margin-top: 20px;
}
