html, body {
  height: 100%;
}

input:focus {
	outline: none;
}

section {
  margin-top: 60px;
  min-height: 100%;
  color: gray;
  height: -200px;
}

.home {
	min-height: 100%;
}

.card-cause {
	color: #0488CF;
  font-weight: bold;
}
.mandatory {
	color: red;
  font-size: 11px;
}