// Place all the styles related to the Ngos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-text-error{
  border: 2px solid red !important;
}

.custom-alert-danger
{
	padding: 6px !important;
	text-align: center;
	display: none;
  margin-bottom: 0 !important;
}


.ngo-title {
	margin-bottom: 15px;
}

.description {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 10px;
	padding-bottom: 10px;
}

.opportunity-title {
  font-size: 20px;
}

.oppt-ngo {
  font-weight: bold;
}
