.input-text-error {
  border: 2px solid red !important;
}

.custom-alert-danger
{
	padding: 6px !important;
	text-align: center;
	display: none;
	margin-bottom: 0 !important;
}

.description {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 10px;
	padding-bottom: 10px;
}

.opportunity-title {
  font-size: 20px;
}

.oppt-ngo {
  font-weight: bold;
}

.btn-add {
  padding-top: 6px;
  color: #428BCA;
}

.formsession {
	margin: 10px;
}

.ngo-title {
	font-size: 20px;
	color: #0488cf;
}