.font-cause {
   font-size : 14px;
}

.margin{
	padding : 0px;
	margin-top : 2px;
	list-style-type: none;
}

.font-title{
	font-size : 18px;
	margin-bottom : 10px;
}

.margin{
	list-style-type: none;
	padding: 0;
	margin-left: 0;
	font-weight: bold;
}

