.font-cause {
   font-size : 14px;
   margin: 0px;
}

.margin{
	padding: 0px;
	margin-top : 2px;
	list-style-type: none;
}

.font-title{
	font-size : 18px;
	margin-bottom : 10px;
  	font-weight: bold;
}

.container-layout{
	margin-top : 20px;
}

.margin-top{
	margin-top : 20px;
}