// Place all the styles related to the opportunities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.opportunity{
	border-color:#ccc;
	border: solid 1px;
	margin-bottom: 10px;
}

.detailopp {
	background-color: #f0f0f0;
}

.bold {
	font-weight: bold;
}

.leftspace {
	padding-left: 15px;
}

.alignright {
	float: right !important;
	font-size: 20px;
}