.panel{
	margin-top: 25px;
}

.detailopp {
	background-color: #f0f0f0;
}

.bold {
	font-weight: bold;
}

.leftspace {
	padding-left: 15px;
}

.opportunity-title {
	margin-bottom: 15px;
}

.opportunity-skill-tag {
	background-color: #BA4A3E;
	color: #FFF;
	padding: 2px;
}

.opportunity-title {
	font-size: 20px;
}

.opportunity-button-detail{
	color: red;
	background-color: #000;
}

.description {
	width: 250px;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	padding-top: 10px;
  	padding-bottom: 10px;
}

.oppt-ngo {
	font-weight: bold;
}

.btn.outline {
    background: none;
    padding: 5px 10px;
}

.btn-primary.outline {
	background: none;
    border: 2px solid #0099cc;
    color: #0099cc;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
    background: none;
}

.link-style {
	color: #0099cc;
}

.link-style:hover {
	color: #33a6cc;
	text-decoration: none;
}

.floatleft {
	float: left;
}

.displayinlineblock {
	display: inline-block;
}

.margin-dropdown-lists{
	margin-top: 7px;
}

.margin-checkbox-lists{
	margin-bottom: -3px;
}


