.opportunity-background {
	background-color: #fafafa;
}

.opportunity-title {
  font: 20px;
	color: #0488cf;
  margin-top: 0 !important;
}

.oppt-ngo {
	color: #aaaaaa;
	margin-bottom: 10px;
}

.description {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.bs-callout {
  border: 1px solid #eeeeee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout-info {
  border-left-color: #dddddd;
}

.bs-callout-info:hover{
  border-left-color: #0488cf;
}

.card-cause {
  color: #0488cf;
  font-weight: bold;
}

.result-search {
  margin-top: 45px;
}