.bg-color-search{
	background: rgba(0,0,0,0.3);
	height:127px;
	padding-top: 14px;
}
.search-box{
	margin-right: -7px;
	width: 55% !important;
	padding-left: 36px !important;
	border: none !important;
	border-radius: 4px 0px 0px 4px !important;
}
.search-city{
	margin-right: -7px;
	margin-left: 2px !important;
	width: 28% !important;
	padding-left: 45px !important;
	border: none !important;
	border-radius: 0px 0px 0px 0px !important;
	box-shadow: none !important;
}
.button-search-enabled{
	margin-right: -4px;
	font-weight: bold;
	color: #000 !important;
	background-color: rgba(163, 208, 242, 1);
	border-radius: 4px 4px 0px 0px !important;
	padding: 10px 10px 13px 10px !important;
	font-weight: 600 !important;
}
.button-search-disabled{
	margin-right: -4px;
	font-weight: bold;
	color: #fff !important;
	background-color: rgba(0, 0, 0, 0);
	padding: 10px 10px 13px 10px !important;
	font-weight: 600 !important;
}
.map-marker{
	margin-right: -21px;
	left: 4px;
}
.button-search{
	background-color: rgba(219, 68, 144, 1);
	border-radius:  0px 6px 6px 0px !important;
	color: white;
	font-weight: 600 !important;
	padding-right: 30px !important;
	padding-left: 30px !important;
	transition: background .25s ease-in-out;
	   -moz-transition: background .25s ease-in-out;
	   -webkit-transition: background .25s ease-in-out;
}
.button-search:hover {
	background-color: #C9307D;
	border-radius:  0px 6px 6px 0px !important;
	color: white !important;
}
.border_search{
	padding: 10px 3px 10px 10px;
	background-color: rgba(163, 208, 242, 1);
	border-radius: 0px 4px 4px 4px;
}
.flaticon-pin56{
    position: absolute;
    padding: 3px 0px;
}
.flaticon-palm1{
	position: absolute;
    padding: 3px 0px;
    margin-left: 0px;
}
.flaticon-house28{
	position: absolute;
    padding: 3px 0px;
    margin-left: 1px;
}
