.bg-color-search{
	background: rgba(0,0,0,0.3);
	height: 150px;
	padding-top: 25px;
}
.search-box{
	margin-right: -5px;
	width: 60% !important;
}
.search-city{
	margin-right: -7px;
	margin-left: 5px !important;
	width: 28% !important;
	padding-left: 18px !important;
}
.button-search-style{
	margin-right: -3px;
	font-weight: bold;
	color: #FFFFFF !important;
	background-color: rgba(79, 197, 255, 0.7);
}
.map-marker{
	margin-right: -21px;
	left: 4px;

}
