.buttonvol {
	padding: 0px 0px 0px 0px !important;
}
.buttonngo {
	padding: 0px 0px 0px 0px !important;
}
.login-title {
	margin-bottom: 20px;
}
#section-login{
	min-height: 445px;
}
.min-height-pages {
	min-height: 88%;
}
.ongarium-logo{
	margin-top : 20px;
	width : 250px;
	height : 250px;
}
