.edit-buttons {
  margin-bottom: 20px !important;
}

.config-title {
  padding-top: 20px;
}

.btn-edit-user {
  background-color: #4BC6E8 !important;
  border-color: #4BC6E8 !important;
  color: white !important;
}

.btn-edit-user:hover {
  background-color: #7FD0E7 !important;
}

.image-user {
  margin-top: 20px;
  border: solid #6BB9F0 3px;
  border-radius: 4px;
}

.name-user {
  margin-top: 20px;
}

.margin-left-info {
  margin-left: -50px;
}

.info-user {
  padding: 5px;
}

.default-image {
  height: 100px;
  width: 100px;
}
