.validate-name{

margin-bottom : 10px;
	
}

.validate-observations{
	
	margin-bottom : 10px;
}

.phone_with_ddd{
	
	margin-bottom : 3px;
}

.gender-label{
	
	margin-top : -2px;
}

.gender-select{
	margin-bottom : 1px;
}

.date-select{
	margin-bottom : 15px;
}

.validate-email{
	margin-bottom : 5px;
}

.validate-password{
	margin-bottom : 5px;
}

.margin-top-user-terms{
	margin-top : 60px;
}