<div class="container">
	<div class="row">
		<div class="col-lg-4 link-footer">
			<h4>Ongarium</h4>
			<ul>
					<li><a href="#">Oportunidades</a></li>
					<li><a href="#">ONGs</a></li>
					<li><a href="#">Sobre Nós</a></li>
					<li><a href="#">P.O.u</a></li>
					<li><a href="#">LOL>DOTA</a></li>
					<li><a href="#">Home</a></li>
			</ul>
		</div>
		<div class="col-lg-4 link-footer">
			<h4>9dades</h4>
			<ul>
					<li><a href="#">Linha 1</a></li>
					<li><a href="#">Linha 2</a></li>
					<li><a href="#">Linha 3</a></li>
					<li><a href="#">Linha 4</a></li>
					<li><a href="#">Linha 5</a></li>
					<li><a href="#">Linha 6</a></li>
			</ul>
		</div>
		<div class="col-lg-4">
			<h4>Redes Sociais</h4>
				<%= link_to image_tag("facebook_icon.jpg"),"http://facebook.com/ongarium" %>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			Ongarium Copyright 2015. Todos os direitos reservados.	
		</div>
	</div>
</div>