<div class="container">
	<div class="row">
		<div class="col-lg-10">
			<h4>Ongarium</h4>
			<ul>
					<li><a href="#">Oportunidades</a></li>
					<li><a href="#">Organizações</a></li>
					<li><a href="#">Sobre Nós</a></li>
			</ul>
		</div>
		
		<div class="col-lg-2">
			<h4>Redes Sociais</h4>
			<ul>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Instagram</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
			Ongarium Copyright 2015. Todos os direitos reservados.	
		</div>
	</div>
</div>