<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<span class="vertical">Ongarium - Copyright 2016. Todos os direitos reservados.</span>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 icons">
			<%= link_to image_tag("facebook.png", size:'32', class: "icons" ), "http://www.facebook.com/ongarium", target: '_blank' %>
			<%= link_to image_tag("instagram.png", size:'32', class: "icons"), "http://www.instagram.com/ongarium", target: '_blank' %>
			<%= link_to image_tag("linkedin.png", size:'32', class: "icons"), "http://www.linkedin.com/#", target: '_blank' %>
			<%= link_to image_tag("twitter.png", size:'32', class: "icons"), "http://www.twitter.com/ongarium", target: '_blank' %>
		</div>
	</div>
</div>
