<div class="">
	<button id="btn-search-opportunity" class="btn button-search-enabled" value="Oportunidade">Oportunidades</button>
	<button id="btn-search-ngo" class="btn button-search-disabled" value="Organizações">Organizações</button>
</div>
<div class="border_search">
		<%= form_tag(opportunities_path, :method => "get", :class => "form-inline", :id => "form_search", :enforce_utf8 => false) do %>
		<span class="flaticon-palm1"></span>
		<span class="flaticon-house28"></span>
		<%= text_field_tag :text_search, params[:text_search], :placeholder => "O que você deseja procurar?", :class => "form-control search-box" %>
		<span class="flaticon-pin56"></span>
		<%= text_field_tag :city, params[:city], :placeholder => "Porto Alegre, RS", :class => "form-control search-city" %>
		<button type="submit" class="btn button-search">
			<span>Pesquisar</span>
		</button>
		<% end %>
</div>
